<% include header %>

 <%= userU.nameu%>
<h1>your details are here </h1>
<h3>name-</h3>
<h3>username= <%= userU.username%></h3>
<h3>departement= <%= userU.departmentu%></h3>
<h3>year= <%= userU.yearu%></h3>
<h3>phone number= <%= userU.phonenumberu%></h3>
<h3>dob= <%= userU.dobu%></h3>
<h3>password= <%= userU.password%></h3>
<h3>id number= <%= userU.idcardu%></h3>
<h3>roll number= <%= userU.rollnou%></h3>
<h3>image= <%= userU.imageu%></h3>
<h5>
<a href="/account/edit">edit your account</a>
 </h5>
<% include footer %>
